@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "San Francisco Mono";
    src: url("/fonts/SFMono-Regular.otf");
}

html {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7;
    color: #212529;
    font-family: "Roboto";

}

header {
    font-size: 0.8em;
    font-family: "Roboto";
}

body {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7;
    color: #212529;
    font-family: "Roboto";
    background-color: rgba(240,142,203,1);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
    width: 1640px;
    height: 1180px;
}

pre {
    background-color: white;
    padding: 10px;
    margin-top: 0px;
    border: 2px rgba(137,251,252,1) solid;
    
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover {
    color:white;
}

span {
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
    font-family: "San Francisco Mono";
    font-size: 0.85em;
    background-color: #6d757d;
}

h1 {
    font-size: 1.5em;
    font-family: "Monsterrat";
    text-align: left;
    padding:6px 10px;
}

h2 {
    background-color: white;
    margin-bottom: 0px;
    border-top: 2px rgba(137,251,252,1) solid;
    border-right: 2px rgba(137,251,252,1) solid;
    border-left: 2px rgba(137,251,252,1) solid;
}

h3 {
    line-height: 0;
    margin: 2px 0px;
    font-weight: bold;
}

h4 { 
    font-size: 1em;
    margin: 2px 0px;
}

.info {
    padding: 10px 10px;
}

section h3 {
    text-align: left;
}

header img{
    width: 50px;
    height: 50px;
}

.footer {
    text-align: center;
    font-size: 0.7em;
    padding: 4px;
}

.footer img {
    width: 50px;
    height: 50px;
}

.date {
    text-align: right;
}

.code-tag {
    color: #24292E;
  }
  
  .code-attr {
    color: #009999;
  }
  
  .code-comment {
    color: #999988;
  }

 .newblock {
    color: #3a48b4;
    background-color: white;
 }